.about {
    padding-top: 8rem;
    &__banner {
        position: relative;
        color: white;
        overflow: hidden;
        height: 50vh;
        bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #370c7b;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
            transform: scaleX(2);
        }
        &__title {
            z-index: 1;
            font-size: 40px;
            margin-top: 50px;
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.5s;
                transform: none;
            }
        }
        &__txt {
            z-index: 1;
            max-width: 400px;
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.75s;
                transform: none;
            }
        }
        &__desc {
            max-width: 400px;
            line-height: 25px;
            margin-top: -10px;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
    &__created {
        padding: 20px 20px;
        margin-top: -30px;
        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title {
            max-width: 50%;
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.75s;
                transform: none;
            }
            .line-bottom {
                display: block;
                max-width: 100%;
                border-bottom: 1px solid #00000078;
                margin-bottom: 40px;
            }
            .mission {
                background-color: #eb6d07;
                border: 1px solid #eb6d07;
                height: fit-content;
                padding: 12px 25px;
                border-radius: 20px;
                color: white;
                transition: 0.4s ease-in;
                &:hover {
                    background-color: white;
                    color: #eb6d07;
                    border: 1px solid #eb6d07;
                    transition: 0.4s ease-out;
                }
            }
            .vission {
                margin-left: 20px;
                color: black;
            }
            .value {
                margin-left: 20px;
                color: black;
            }
        }
        &__desc-bottom {
            padding-top: 25px;
        }
        &__image {
            margin-left: 70px;
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.5s;
                transform: none;
            }
            img {
                width: 500px;
                border-radius: 20px;
            }
        }
    }
    &__vital {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        &__title {
            max-width: 50%;
            text-align: center;
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.5s;
                transform: none;
            }
            h3 {
                margin: 0;
            }
        }
        &__vidio {
            margin-top: 20px;
            max-width: 80%;
            border-radius: 20px;
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.75s;
                transform: none;
            }
        }
    }
    &__excess {
        &__wrap {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 40px;
        }
        &__box {
            display: flex;
            align-items: center;
            opacity: 0;
            transition: all 1s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                @for $i from 1 through 12 {
                    $delay: 240 + ($i * 100) + ms;
                    &:nth-child(#{$i}) {
                      transition-delay: $delay;
                    }
                  }
            }
            h1 {
                font-size: 45px;
                color: #2d0079;
                margin: 0;
            }
            p {
                margin: 0;
            }
            span {
                display: block;
                background-color: black;
                height: 40px;
                width: 1px;
                margin-left: 60px;
            }
            .none {
                display: none;
            }
        }
    }
    &__attorney {
        background-color: #2d0079;
        &__wrapper {
            padding: 20px;
        }
        &__txt {
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.5s;
                transform: none;
            }
            p {
                margin-top: -10px;
                max-width: 50%;
            }
        }
        &__content {
            display: flex;
            justify-content: center;
            padding: 20px;
            gap: 20px;
        }
        &__box {
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.75s;
                transform: none;
            }
        }
        &__image {    
            // background-color: black;
            // border-top-left-radius: 30px;
            // border-top-right-radius: 30px;
            img {
                width: 250px;
                padding-top: 20px;
            }
            #luffy {
                width: 240px;
            }
        }
        &__person {
            color: white;
            padding-top: 20px;
            a {
                color: white;
                font-size: 17px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    &__priority {
        padding: 100px 150px;
        &__wrapper {
            background-color: #f7f9ff;
            border-radius: 30px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        &__box {
            display: flex;
            padding: 10px 40px;
            gap: 20px;
            align-items: center;
            opacity: 0;
            transform: translateY(16px);
            transition: all 0.5s ease;
            transition-delay: 0s;
            .animated & {
                opacity: 1;
                transition: all 0.5s ease-out;
                transition-delay: 0.5s;
                transform: none;
            }
        }
        &__icon {
            background-color: white;
            width: 110px;
            border-radius: 50px;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 50px;
            }
        }
        &__txt {
            max-width: 75%;
        }
    }
}

@media only screen and (max-width: 991.98px) {
    .about {
        padding-top: 8rem;
        &__created {
            &__content {
                flex-direction: column;
            }
            &__title {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__image {
                padding-top: 20px;
                margin-left: 0;
                img {
                    width: 400px;
                }
            }
        }
        &__excess {
            span {
                margin-left: 50px;
            }
        }
        &__attorney {
            &__image {
                img {
                    width: 220px;
                }
                #luffy {
                    width: 212px;
                }
            }
        }
        &__priority {
            padding: 80px 50px;
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .about {
        &__created {
            img {
                width: 350px;
            }
        }
        &__vital {
            &__vidio {
                max-width: 500px;
            }
            &__title {
                max-width: 70%;
            }
        }
        &__excess {
            &__wrap {
                flex-direction: column;
                justify-content: center;
            }
            &__box {
                flex-direction: column;
                justify-content: center;
                align-items: baseline;
                margin-bottom: 50px;
                transition: 0.4s ease-in;
                &:hover {
                    span {
                        display: block;
                        width: 100%;
                        height: 1px;
                        transition: 0.4s;
                        margin: 0;
                    }
                }
            }
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;
            }
            span {
                display: none;
                width: 20%;
            }
        }
        &__attorney {
            &__content {
                flex-direction: column;
                align-items: center;
                gap: 40px;
            }
            &__image {
                img {
                    width: 300px;
                }
                #luffy {
                    width: 300px;
                }
            }
            &__person {
                text-align: center;
            }
        }
        &__priority {
            &__txt {
                max-width: 100%;
            }
            &__box {
                flex-direction: column;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 575.86px) {
    .about {
        &__created {
            img {
                width: 100%;
            }
        }
        &__vital {
            &__title {
                max-width: 100%;
            }
            &__vidio {
                max-width: 100%;

            }
        }
        &__attorney {
            img {
                width: 260px;
            }
            #luffy {
                width: 260px;
            }
        }
        &__priority {
            padding: 80px 40px;
            &__icon {
                width: 95px;
                height: 95px;
                i {
                    font-size: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 320.86px) {
    .about__priority {
        padding: 80px 30px;
    }
}